body
{
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
}


@font-face
{
    font-family: Noto;
    src: url('https://fonts.googleapis.com/css?family=Noto+Sans')
}

.gray
{
    color: #f4f6ff
}
.gray1
{
    color: #f4f6ff;
    margin-left: -100px;
    
}

.red
{
   color:  #ff7c8d
}

.Noto
{
    font-family: 'Noto Sans', sans-serif;
}

.x
{
    line-height: 0.4;
}

.top
{
    margin-top: -800px; 
    margin-left: 400px;
}

.bot
{
    margin-top:-270px; 
    margin-left: 400px;
}

.boxrow
{
    width: 250px
}

p {
}



