body
{
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
}


@font-face
{
    font-family: Noto;
    src: url('https://fonts.googleapis.com/css?family=Noto+Sans')
}


.pink{
    color: #e6004c
}

.gray
{
    color: #ec7e7e
}

.red
{
   color:  #ffb3b3
}

.Noto
{
    font-family: 'Noto Sans', sans-serif;
}

.x
{
    line-height: 0.4;
    margin-top: 170px;
}

.top
{
    margin-top: -650px; 
    margin-left: 400px;
}

.bot
{
    margin-top:-270px; 
    margin-left: 400px;
}

.boxrow
{
    width: 250px
}
